
/* ======================== */
/* 1. ***** STYLES ***** */
/* ======================== */

.border-coeur-cv{
    margin-top: 30px;
    background-color: var(--color-primary);
    width: 107%;
    height: 100%;
}

.grid-coeur-cv{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 0fr 1fr;
    gap: 15px;
}

.grid-coeur-cv > div{
    background-color: var(--color-secondary);
}

.grid-coeur-cv h2{
    margin-left: 20px;
}


.grid-coeur-cv-competences{
    border-radius: 30px 0 0 0;
    grid-column: 1 /span 1;
    grid-row: 1/ span 2;

}

.grid-coeur-cv-langues{
    border-radius: 0 0 0 30px;
    grid-column: 1 /span 1;
    grid-row: 3/ span 1;


}

.grid-coeur-cv-infosup{
    grid-column: 1 /span 1;
    grid-row: 4/ span 1;

}

.grid-coeur-cv-experiences{
    position: relative;
    border-radius: 0 30px 30px 0;
    grid-column: 2 /span 1;
    grid-row: 1/ span 3;
}

.grid-coeur-cv-formations{
    grid-column: 2 /span 1;
    grid-row: 4/ span 1;
}


.card-tags-competences{
    padding: 5px;
}

.tags-competences{
    display: inline-flex;
    background-color: var(--color-primary);
    margin: 5px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 12px;
}

.case-langues{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
    padding: 0 20px 0 20px;
}

.grid-coeur-cv-experiences p {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 20px 0 20px;
}

.text-color-inline{
    color: rgb(128, 128, 128);
}

.grid-coeur-cv-formations p{
    padding-left: 20px;
}

.grid-formations{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-formations p{
    margin: 10px;
    font-size: 18px;
}


/* ======================== */
/* 2. ***** MEDIA ***** */
/* ======================== */

@media screen and (max-width: 768px) {


    .border-coeur-cv{
        padding: 30px;
        border-radius: 30px;
    }

    .grid-coeur-cv-gap1, .grid-coeur-cv-gap2{
        display: none;
    }

    .grid-coeur-cv{
        display: flex;
        flex-direction: column;
    }


.grid-coeur-cv-competences, .grid-coeur-cv-langues, .grid-coeur-cv-infosup, .grid-coeur-cv-experiences, .grid-coeur-cv-formations{
    grid-column: auto;
    grid-row: auto;
    border-radius: 0;
}

.grid-coeur-cv-experiences p{
    font-size: 16px;
}

.grid-formations p{
    margin: 10px;
    font-size: 16px;
}

}