/* ================================================
 *** Sommaire ***

 1. Fichiers importés
 2. Sections
 3. Cards
 4. Responsivité

================================================ */




/* ================================================
1. *** Fichiers importés ***
================================================ */

@import url('./variable.css');
@import url('./outils.css');
@import url('./header-footer.css');
@import url('./base.css');
@import url('./boutons.css');
@import url('./tags.css');
@import url('./heros.css');
@import url('./cv.css');
@import url('./coeur-cv.css');

/* ================================================
2. *** Sections ***
================================================ */

.section__column{
    flex-direction: column;
    margin : 30px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section__column--presentation{
    flex-direction: column;
    max-width: 750px;
    padding: 30px;
    border-radius: 30px;
}

.section__column p{
    text-align: justify;
}

.selection__center{
    justify-content: center;
    background-color: var(--color-secondary);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
}

/* ================================================
3. *** Cards ***
================================================ */


.card__logo{
    width: 150px;
    height: 150px;
    padding: 30px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    object-fit: contain;
}

.card{
    position: relative;
    flex-direction: row;
    border-radius: 30px;
    margin: 20px;
    padding: 50px;
    background-color: var(--color-primary);
}

.card__image{
    width: 80%;
    max-width: 300px;
    min-width: 300px;
    border-radius: 20px;
}

.card__content{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.card__content h2{
    margin: 0px;
    padding: 0px;
}

.card__content__column{
    background-color: var(--color-primary);
    padding: 50px 30px 30px 30px;
    margin: 30px;
    border-radius: 30px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.card img{
    filter: grayscale(100%);
}

.card__text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.card__content--presentation{
    position: relative;
    flex-direction: row;
    margin: 20px;
    background-color: var(--color-secondary);
    padding: 20px 20px;
    border-radius: 30px;
}

.galerie-diaporama {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    padding: 50px 0px;
}

.slide {
    flex: 0 0 100%; 
    height: auto;
    object-fit: contain;
    scroll-snap-align: center; 
    border-radius: 30px;
}

/* .galerie-diaporama::-webkit-scrollbar {
    /* display: none; 
} */


/* ================================================
4. *** Responsivité ***
================================================ */

@media screen and (max-width: 768px) {
    
    .card {
        flex-direction: column;
        width: 80%;
    }

    .card h2{
        text-align: center;
    }

    #projets-web{
        text-align: center;
    }

    .footer__content{
        flex-direction: column;
    }

    .tagsCard{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .tags{
        margin: 0px;
    }

    .galerie-diaporama{
        max-width: 400px;
    }

}


@media screen and (max-width: 1024px) {
    
    .card {
        flex-direction: column;
        width: 80%;
    }

    .card h2{
        text-align: center;
    }

    #projets-web{
        text-align: center;
    }

    .footer__content{
        flex-direction: column;
    }

    .tagsCard{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .tags{
        margin: 0px;
    }

    .card__content--presentation{
    flex-direction: column;
    padding-top: 50px;
    }

    img{
        width: 100%;
    }

    .card__image{
        min-width: 100px;
    }

        .galerie-diaporama{
        max-width: 600px;
    }

}